
.read-the-docs {
  color: #fcfbfb;
}
.car-details {
  max-width: 800px;
  margin: 0 auto;
}

.car-details h1 {
  text-align: center;
  color: #070000;
}

.car-details ul {
  list-style: none;
  padding: 0;
}

.car-details li {
  border: 1px solid #e8eb54;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.car-details img {
  max-width:  50%;;
  height: auto;
}

.car-details p {
  margin: 0;
}

.car-details h2 {
  margin-bottom: 10px;
}

.car-details strong {
  font-weight: bold;
}
.car-details img.resize {
  width:100px; 
  height: auto;
}